body {
    font-family: sans-serif;
    background-color: Yellow;
    margin-top: 100px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    font-style : italic;
    color:red;
}

.img-medium {
    height: 200px;
}

